.homepageContainer{
    background-color: #fff;
    margin-top: 100px;
}
.bgStyleOne{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
}
.bgStyleTwo{
    position: absolute;
    width: 165px;
    height: 450px;
    right: 0px;
    top: 208px;
    z-index: 1;
    background: #FDE8E4;
    border-radius: 6px 0px 0px 6px;
}
/* ----------------- HERO SECTION -----------------  */
.heroSection{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.heroSectionLeft{
    margin-left: 110px;
    margin-top: 134px;
    padding-right: 25px;
}
.heroSectionLeft>h1{
    font-size: 50px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 25px;
    letter-spacing: 2px;
}
@keyframes LeftToRight {
    0% {transform: translateX(-100px);opacity: 0;}
    100% {transform: translateX(0px);opacity: 1;}
}

.animationLR{
    animation-name: LeftToRight;
    animation-duration: 1s;
}


.textBackgroundImg{
    position:absolute;
}
.heroSectionLeft>p{
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    color: #818A94;
    letter-spacing: 1px;
}
.emailBar{
    margin-top: 90px;
    width: 770px;
    height: 70px;
    padding: 8px;
    background: #F6F8FF;
    border: 2px solid rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    display: flex;
    align-items: center;
}
.emailBar>input{
    margin-right: auto;
    background: transparent;
    border: none;
    outline: none;
    width: 550px;
    padding: 10px;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1px;
}

.emailBar>button{
    cursor: pointer;
    margin-left: auto;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    width: 170px;
    height: 60px;
    background: #F06449;
    box-shadow: 0px 6px 40px rgba(240, 100, 73, 0.4);
    border: none;;
    border-radius: 8px;
}

.heroSectionRight{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ----------------- STATISTICS SECTION -----------------  */
.statisticsSection{
    margin-top: 144px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: auto;
}
.statisticItem{
    text-align: center;
}
.statisticItem>h1{
    font-size: 50px;
    font-weight: 700px;
    margin-bottom: 16px;
}
.statisticItem>p{
    font-size: 24px;
    font-weight: 500;
    color: #2793F2;
}
.statisticItem>.lineOne{
    height: 37px;
    float: right;
    margin-top: -75px;
    padding-left: 8px;
    border: none;
    border-left: 2px solid rgba(240, 100, 73, 0.4);
}
.statisticItem>.lineTwo{
    height: 37px;
    float: right;
    margin-top: -65px;
    border: none;
    border-left: 2px solid rgba(240, 100, 73, 0.4);
}

/* ----------------- Process We Follow SECTION -----------------  */
.processSection{
    margin: 120px 110px 120px 110px;
}
.processSection>h1{
    margin-bottom: 70px;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.05em;
}

.processCards{
    opacity: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}
@keyframes appear {
    0% {opacity: 0;}
    50% {opacity: 0.5;}
    100% {opacity: 1;}
}
.animationAppear{
    animation-name: appear;
    animation-duration: 1s;
    opacity: 1;
}

.processCard{
    width: 454px;
    border: 3px solid #E8E9F0;
    border-radius: 20px;
    padding: 40px;
}
.processCard>h1{
    margin-top: 40px;
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #262735;
}
.processCard>p{
    margin-top: 16px;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.05em;
    color: #6C7279;
}
.processCard.last{
    background-color: #FEF3F1;
    border: 3px solid #F06449;
}
.processCard.last>h1{
    margin-top: 0px;
}
.processCard.last>button{
    margin-top: 30px;
    background-color: transparent;
    border: none;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 0.05em;
    text-decoration-line: underline;
    color: #F06449;
}

/* ----------------- Our Services SECTION -----------------  */
.serviceSection{
    margin: 120px 110px 120px 110px;
}
.serviceSection>h1{
    margin-bottom: 70px;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.05em;
}